In [36]:
# Import libraries
import pandas as pd
import numpy as np

In [34]:
# Load the data
df = pd.read_csv('../data/listings.csv')
df.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
2769,13840632,1 habitacion con cama doble para una persona,81670000,Maribel,Gràcia,Vallcarca i els Penitents,41.416730,2.136150,Private room,31.0,1,25,2024-07-01,0.25,1,249,11,NaN
17247,1137785735877154394,Habitación triple en el centro de Barcelona,563900110,Dilcy,Ciutat Vella,el Raval,41.378396,2.175609,Private room,130.0,2,1,2024-08-17,1.00,2,246,1,Exempt
18445,1182074494483540488,Super cozy room for 1 person in Montjuic,41077798,Владимир,Sants-Montjuïc,el Poble Sec,41.373838,2.147758,Private room,52.0,1,12,2024-09-04,7.06,3,111,12,Exempt
15186,1020928430066158222,Isola - 1 bedroom and terrace in Eixample Dreta,346367515,Ukio,Eixample,la Dreta de l'Eixample,41.392180,2.173120,Entire home/apt,145.0,31,1,2024-05-13,0.26,437,113,1,NaN
4118,21557387,Hermosa Habitacion,80750916,Stefania,Sants-Montjuïc,Hostafrancs,41.372330,2.142900,Private room,NaN,1,0,NaN,NaN,1,0,0,NaN
2174,8918070,Barcelona City - 15 minutes to Las Ramblas,1035045,Montserrat,Nou Barris,la Prosperitat,41.440470,2.185180,Entire home/apt,100.0,4,6,2023-06-04,0.07,4,357,0,NaN
16951,1121806518495909736,Cozy 1-Bed Apartment Steps from Bac de Roda Metro,569265179,Miguel,Sant Martí,Sant Martí de Provençals,41.414062,2.196157,Entire home/apt,106.0,2,10,2024-08-11,2.17,1,2,10,Exempt
16545,1101390631746165789,Loft in Barceloneta 5 min from the beach,66296022,Suzy,Ciutat Vella,la Barceloneta,41.380340,2.187930,Entire home/apt,NaN,32,0,NaN,NaN,52,9,0,NaN
12181,797764222285220957,Teba - 2 bedrooms and office in Eixample Esquerra,346367515,Ukio,Eixample,Sant Antoni,41.384212,2.162305,Entire home/apt,150.0,31,0,NaN,NaN,437,224,0,NaN
15923,1070889680442532829,AB Sagrada Familia - Sant Pau,4459553,AB Apartment Barcelona,Sant Martí,el Camp de l'Arpa del Clot,41.411154,2.177681,Entire home/apt,1386.0,1,20,2024-09-02,2.78,191,346,20,HUTB-008423

In [8]:
# Get the dimensions of the dataframe
df.shape

(19482, 18)

In [10]:
# Display information about data types and non-null counts
print("\nDataset Information:")
pd.options.display.max_info_columns = 50
print(df.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19482 non-null  int64
 1   name                            19482 non-null  object
 2   host_id                         19482 non-null  int64
 3   host_name                       19480 non-null  object
 4   neighbourhood_group             19482 non-null  object
 5   neighbourhood                   19482 non-null  object
 6   latitude                        19482 non-null  float64
 7   longitude                       19482 non-null  float64
 8   room_type                       19482 non-null  object
 9   price                           15422 non-null  float64
 10  minimum_nights                  19482 non-null  int64
 11  number_of_reviews               19482 non-null  int64
 12  last_review                     14731 non-null  object
 13  reviews_per_month               14731 non-null  float64
 14  calculated_host_listings_count  19482 non-null  int64
 15  availability_365                19482 non-null  int64
 16  number_of_reviews_ltm           19482 non-null  int64
 17  license                         13288 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 2.7+ MB
None

In [14]:
# Check if there are duplicate rows
len(df) - len(df.drop_duplicates())

0

In [16]:
# Calculate the percentage of missing values and sort
round(df.isnull().sum()/len(df)*100,2).sort_values(ascending = False)

license                           31.79
last_review                       24.39
reviews_per_month                 24.39
price                             20.84
host_name                          0.01
neighbourhood_group                0.00
neighbourhood                      0.00
latitude                           0.00
longitude                          0.00
room_type                          0.00
name                               0.00
minimum_nights                     0.00
number_of_reviews                  0.00
host_id                            0.00
calculated_host_listings_count     0.00
availability_365                   0.00
number_of_reviews_ltm              0.00
id                                 0.00
dtype: float64

In [18]:
# Drop the columns with missing values which are not needed for the analysis
df = df.drop(['license'], axis=1, errors='ignore')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19482 non-null  int64
 1   name                            19482 non-null  object
 2   host_id                         19482 non-null  int64
 3   host_name                       19480 non-null  object
 4   neighbourhood_group             19482 non-null  object
 5   neighbourhood                   19482 non-null  object
 6   latitude                        19482 non-null  float64
 7   longitude                       19482 non-null  float64
 8   room_type                       19482 non-null  object
 9   price                           15422 non-null  float64
 10  minimum_nights                  19482 non-null  int64
 11  number_of_reviews               19482 non-null  int64
 12  last_review                     14731 non-null  object
 13  reviews_per_month               14731 non-null  float64
 14  calculated_host_listings_count  19482 non-null  int64
 15  availability_365                19482 non-null  int64
 16  number_of_reviews_ltm           19482 non-null  int64
dtypes: float64(4), int64(7), object(6)
memory usage: 2.5+ MB

In [20]:
# Convert data types for "id" and "host_id" to object
df[['id', 'host_id']] = df[['id', 'host_id']].astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19482 non-null  object
 1   name                            19482 non-null  object
 2   host_id                         19482 non-null  object
 3   host_name                       19480 non-null  object
 4   neighbourhood_group             19482 non-null  object
 5   neighbourhood                   19482 non-null  object
 6   latitude                        19482 non-null  float64
 7   longitude                       19482 non-null  float64
 8   room_type                       19482 non-null  object
 9   price                           15422 non-null  float64
 10  minimum_nights                  19482 non-null  int64
 11  number_of_reviews               19482 non-null  int64
 12  last_review                     14731 non-null  object
 13  reviews_per_month               14731 non-null  float64
 14  calculated_host_listings_count  19482 non-null  int64
 15  availability_365                19482 non-null  int64
 16  number_of_reviews_ltm           19482 non-null  int64
dtypes: float64(4), int64(5), object(8)
memory usage: 2.5+ MB

In [22]:
# View a sample of three records
df.sample(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
9463,52396375,Sant Joan 111 3º A - Room 5,1503151,Laia,Eixample,la Dreta de l'Eixample,41.39869,2.16816,Private room,35.0,32,0,NaN,NaN,70,5,0
2821,14339528,Double room in a lightly flat close to the bea...,3018758,Mark,Sant Martí,el Poblenou,41.40492,2.20256,Private room,35.0,31,106,2024-02-29,1.08,2,42,2
15456,1037496464158570928,Habitación con baño privado,9423252,Scarlet,Eixample,la Dreta de l'Eixample,41.39843,2.17508,Private room,60.0,31,0,NaN,NaN,1,87,0

In [24]:
# Correct data type mismatch for columns that should be of datetime data type
df['last_review'] = pd.to_datetime(df['last_review'], format='%Y-%m-%d', errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19482 non-null  object
 1   name                            19482 non-null  object
 2   host_id                         19482 non-null  object
 3   host_name                       19480 non-null  object
 4   neighbourhood_group             19482 non-null  object
 5   neighbourhood                   19482 non-null  object
 6   latitude                        19482 non-null  float64
 7   longitude                       19482 non-null  float64
 8   room_type                       19482 non-null  object
 9   price                           15422 non-null  float64
 10  minimum_nights                  19482 non-null  int64
 11  number_of_reviews               19482 non-null  int64
 12  last_review                     14731 non-null  datetime64[ns]
 13  reviews_per_month               14731 non-null  float64
 14  calculated_host_listings_count  19482 non-null  int64
 15  availability_365                19482 non-null  int64
 16  number_of_reviews_ltm           19482 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 2.5+ MB

In [26]:
# Create dataframe of missing "last_review" and view a sample
df[df['last_review'].isnull()].sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
12283,803566589813324503,Habitación privada en Poblesec,125421799,Bryan,Sants-Montjuïc,el Poble Sec,41.374764,2.166580,Private room,37.0,1,0,NaT,NaN,1,344,0
6013,33441489,Central location!,251931526,Montell,Eixample,la Nova Esquerra de l'Eixample,41.381670,2.152370,Private room,NaN,5,0,NaT,NaN,1,0,0
18106,1168921360259615422,Piso de 4 habitaciones terraza,64805231,Marc,Nou Barris,les Roquetes,41.449580,2.177280,Entire home/apt,NaN,31,0,NaT,NaN,42,3,0
8382,46393618,Bonito piso de dos dormitorios en Poblenou,3376710,Maria StayBarcelona,Sant Martí,el Parc i la Llacuna del Poblenou,41.392860,2.190210,Entire home/apt,57.0,32,0,NaT,NaN,45,249,0
12225,802094697963093478,Sagrada Familia flat for 4 pple!,491301242,Anelo,Eixample,la Sagrada Família,41.400838,2.174992,Entire home/apt,280.0,1,0,NaT,NaN,4,141,0

In [28]:
# Fill missing reviews per month with zero
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

In [30]:
# Calculate the percentage of missing values and sort
round(df.isnull().sum()/len(df)*100,2).sort_values(ascending = False)

last_review                       24.39
price                             20.84
host_name                          0.01
id                                 0.00
availability_365                   0.00
calculated_host_listings_count     0.00
reviews_per_month                  0.00
number_of_reviews                  0.00
minimum_nights                     0.00
room_type                          0.00
name                               0.00
longitude                          0.00
latitude                           0.00
neighbourhood                      0.00
neighbourhood_group                0.00
host_id                            0.00
number_of_reviews_ltm              0.00
dtype: float64